[submodule "external/dlg"]
	path = external/dlg
	url = https://github.com/sg777/dlg
[submodule "external/libwebsockets"]
	path = external/libwebsockets
	url = https://github.com/warmcat/libwebsockets
[submodule "external/iniparser"]
	path = external/iniparser
	url = https://github.com/sg777/iniparser
	branch = master
